<div class="breaker">
  <div class="state {{if @isOpen 'open' 'closed'}}">
    <img src="icons/breaker-{{if @isOpen 'open' 'closed'}}.svg"/>
  </div>
  <div class="title">{{@title}}</div>
  <div class='buttons'>
    <button {{on 'click' (fn simConn.pulseBool @close true)}}>Push</button>
    <button {{on 'click' (fn simConn.pulseBool @open true)}}>Pull</button>
  </div>
</div>
